<div class="container ">
    <div class="row ">
        <app-carousel></app-carousel>
        <!-- <div class="col-offset-6 text-center">
            <h2>Contacts</h2>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-5">
            <h3>Email:</h3>
            <h4>annatimachova@gmail.com</h4>
            <h3>Mobile phone:</h3>
            <h4>+380(50)183-70-65</h4>

        </div>
        <div class="col-md-5">
            <h3>Telegram:</h3>
            <h4>telegram</h4>
            <h3>Viber:</h3>
            <h4>viber</h4>
        </div> -->
    </div>
</div>