.main-container {
    min-height: 100vh;
    height: auto;
    background-color: rgba(213, 253, 248, 0.726);
    margin: 0;
    padding-bottom: 50px;
}

ul {
    list-style-type: square;
}

ul>li {
    color: rgb(27, 27, 27);
    font-size: 1.1em;
    font-weight: 550;
}

.lern-more {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.main-row {
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tittle {
    font-size: 1.9em;
    font-weight: 600;
    color: rgba(27, 27, 27, 0.781);
}

.column-couching,
.column-consalting {
    position: relative;
    min-height: 350px;
    margin-bottom: 25px;
    padding: 15px;
    background-image: linear-gradient(to right top, #a9f2f2af, #98efefa4, #85ededc9, #70eaeacc, #56e7e7b9);
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}

.link-learn-more {
    cursor: pointer;
    color: rgba(27, 27, 27, 0.781);
}

.descriotion-text {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(27, 27, 27);
    font-weight: 500;
    margin-bottom: 25px;
    ;
}