<div class="main-container">


    <div class="container">
        <div class="row main-row">
            <p class="tittle">
                ПОСЛУГИ
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="column-couching">
                    <div class="descriotion-text">
                        <h3>Коучинг</h3>
                    </div>
                    <div class="description-list">
                        <ul>
                            <li>
                                Коучинг 1
                            </li>
                            <li>
                                Коучинг 2
                            </li>
                            <li>
                                Коучинг 3
                            </li>
                        </ul>
                    </div>
                    <div class="lern-more">
                        <a routerLink="/feedBack" class="link-learn-more">
                            Розповісти більше?
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="column-consalting">
                    <div class="descriotion-text">
                        <h3>Консалтинг</h3>
                    </div>
                    <div class="description-list">
                        <ul>
                            <li>
                                консалтинг 1
                            </li>
                            <li>
                                консалтинг 2
                            </li>
                            <li>
                                консалтинг 3
                            </li>
                        </ul>
                    </div>
                    <div class="lern-more">
                        <a routerLink="/feedBack" class="link-learn-more">
                           Розповісти більше?
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>