<div class="container">
    <div class="row ">
        <div class="col-offset-6 text-center">
            <h2>Услуги</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <ul>
                <li>
                    Услуга 1
                </li>
                <li>
                    Услуга 2
                </li>
                <li>
                    Услуга 3
                </li>
                <li>
                    Услуга 4
                </li>
                <li>
                    Услуга 5
                </li>
                <li>
                    Услуга 6
                </li>
            </ul>
        </div>
    </div>
</div>