.main-container {
    min-height: 100vh;
    width: 100%;
    height: auto;
    background-color: rgba(213, 253, 248, 0.726);
    margin: 0;
    padding-bottom: 50px;
}

.search-results {
    height: 1000px;
    /* border-top: 5px solid rgb(247, 247, 247); */
    overflow: scroll;
    /* background-color: rgba(213, 253, 248, 0.726); */
    z-index: 12;
    font-family: 'Amatic SC', cursive;
}

.title {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trips-title {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 1px;
    font-size: 2em;
    font-weight: 900;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.form-control-div {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 1px solid silver
}

.form-group-admin-panel {
    position: fixed;
    z-index: 11;
    padding-top: 80px;
    flex-direction: column;
    width: 350px;
    color: white;
    padding-left: 5px;
    height: 100vh;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right top, #1c7878, #006b78, #005e75, #005070, #0a4267);
    display: flex;
}

textarea {
    color: black
}

.admin-toggle {
    position: fixed;
    top: 65px;
    right: 50px;
    z-index: 12;
}

.picture-container {
    /* background: #ccd3d7; */
    width: 100%;
    height: auto;
}

.picture {
    height: 320px;
    width: 100%;
}

.stack {
    position: relative;
    z-index: 10;
}

.spinner {
    display: flex;
    justify-content: center;
}


/* ����� ����������� */

.stack img {
    width: 100%;
    height: 300px;
    vertical-align: bottom;
    border: 10px solid #fff;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}


/* ������� � ������������ ������� */

.stack:before,
.stack:after {
    content: "";
    border-radius: 3px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 10px solid #fff;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.stack:before {
    top: 6px;
    left: 6px;
    z-index: -10;
}

.stack:after {
    top: 12px;
    left: 12px;
    z-index: -20;
}

.about-picture-box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.about-picture {
    position: relative;
    border: 3px solid rgb(1, 28, 70);
    background-image: linear-gradient(to right top, #37f2f2, #00d6ef, #00bae7, #009dd9, #2092df);
    padding-top: 30px;
    ;
    min-height: 300px;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-weight: 700;
    box-shadow: 6px 6px #c0c0c0ee, 12px 12px #969696;
}

.about-picture-date {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7em;
    letter-spacing: -0.5px;
    color: black;
    font-weight: 300;
}

.trips-main-container-main {
    z-index: 5;
}

.about-picture {
    border-width: 3px;
    padding: 10px;
    border-style: solid;
    border-image: linear-gradient( to bottom, rgb(235, 243, 242), rgba(54, 54, 54, 0)) 1 100%;
}

@media (max-width: 700px) {
    .stack img {
        height: 250px;
    }
    .picture {
        height: 250px;
        width: 100%;
    }
    .about-picture {
        box-shadow: 0;
        margin-top: 30px;
    }
}

.trips-main-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.trips-main-container::after {
    content: "";
    background: rgba(33, 37, 41, 0.8);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    bottom: 0;
    color: #FFF;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    opacity: 0.3;
    z-index: 0;
}