<div class="col-md-4 col-md-offset-4" id="login">
    <section id="inner-wrapper" class="login">
        <article>
            <form>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
                        <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" placeholder="Email Address">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                        <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <button (click)="auth()" type="submit" class="btn btn-success btn-block">Submit</button>
            </form>
        </article>
    </section>
</div>