* {
    color: rgba(0, 0, 0, 0.733);
}

img {
    height: 320px;
    width: 270px;
    border: 1px solid rgb(235, 221, 221);
    background-color: rgb(255, 60, 0);
    /* border-radius: 15px; */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(43, 40, 40, 0.22);
}

.NoMarker {
    list-style-type: none;
}

h2 {
    font-family: 'Lobster', cursive;
    text-align: center;
}