<div class="container">
    <div class="row">
        <div class="col-offset-6 text-center">
            <h2>Anna Timachova </h2>
        </div>
    </div>
    <div class="row  ">
        <div class="col-md-6 align-self-end border ">
            <h2 class="slogan">
                << Вы не можете позволить себе ждать отличных состояний. Постановка целей – часто вопрос балансирования между временем и доступными ресурсами. Возможности легко потерять, ожидая подходящее время.>>
            </h2>
        </div>
        <div class="col-offset-2-md-4 text-center border">
            <div class="img">
                <img src="../../assets/img/d78ec638-feca-458b-9865-2591169b8efb.jpg">
            </div>
        </div>

    </div>


</div>