<div class="navigatin-box">
    <div class="menu-box">

        <a class="burger-btn" id="burger-btn" (click)="toggleElement()"> <i class="fa fa-bars fa-3x " aria-hidden="true"></i></a>
    </div>

</div>

<div *ngIf="toogle" class="navigation-block">
    <div class="navigation">
        <div class="menu-item" routerLink="/" (click)="toggleElement()">
            <p class="item-text">Головна<i class="fa fa-home" aria-hidden="true"></i></p>
        </div>
        <div class="menu-item" routerLink="/feedBack" (click)="toggleElement()">
            <p class="item-text"> Познайомимось</p>
        </div>
        <div class="menu-item" (click)="toggleElement()">
            <p class=" item-text ">Контакти</p>
        </div>
        <div class="menu-item " (click)="toggleSubMenu()">
            <p class="item-text ">Блог <i *ngIf="!toglesubMenu" class="fa fa-chevron-down " aria-hidden="true"></i>
                <i *ngIf="toglesubMenu" class="fa fa-chevron-up " aria-hidden="true"></i>
            </p>
        </div>
        <div *ngIf="toglesubMenu" class="menu-item" routerLink="/arts" (click)="toggleElement()">
            <p class="item-text ml-5">Рисование<i class="fa fa-home" aria-hidden="true"></i></p>
        </div>
        <div *ngIf="toglesubMenu" class="menu-item" routerLink="/trips" (click)="toggleElement()">
            <p class="item-text ml-5"> Путешествия</p>
        </div>
        <div *ngIf="toglesubMenu" class="menu-item" routerLink="/feedBack" (click)="toggleElement()">
            <p class="item-text ml-5"> Стихи</p>
        </div>
    </div>


</div>
<div class="social-media social-liks ">
    <a class="social-links-i "><i class="fa fa-instagram fa-2x ml-3 mr-3 " aria-hidden="true "></i></a>
    <a class="social-links-i "><i class="fa fa-facebook fa-2x ml-3  mr-3 " aria-hidden="true "></i></a>
    <a class="social-links-i "><i class="fa fa-paper-plane fa-2x ml-3 mr-3 " aria-hidden="true "></i></a>
</div>