<div class="container ">
    <div class="row ">
        <div class="col-offset-6 text-center">
            <h2>Тимконсалтинг</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <ul>
                <li>
                    консалтинг 1
                </li>
                <li>
                    консалтинг 2
                </li>
                <li>
                    консалтинг 3
                </li>
                <li>
                    консалтинг 4
                </li>
                <li>
                    консалтинг 5
                </li>
                <li>
                    консалтинг 6
                </li>
            </ul>
        </div>
    </div>
</div>