* {
    font-family: 'Amatic SC', cursive;
    letter-spacing: 5px;
    font-size: 1.1em;
}

.form-group {
    background-color: rgba(213, 253, 248, 0.726);
    border-radius: 5px;
    border: none;
    z-index: 3;
    ;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.feedback-container {
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.container {
    height: auto;
    /* padding-bottom: 50px; */
}

i {
    color: black
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1em;
}

.feedback-container::after {
    content: "";
    background-color: rgba(213, 253, 248, 0.726);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    bottom: 0;
    color: #FFF;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    opacity: 1;
    z-index: 0;
}

.row-feedback {
    min-height: 100vh;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding-bottom: 20px;
}

input {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.603)
}

textarea {
    font-size: 0.9em
}

.showThanks {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.thank-u {
    height: 200px;
    width: 300px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border: 2px solid white;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(74, 217, 228, 0.76);
}

.text-inside {
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 1.2em;
    font-weight: 700;
    color: black;
}