<div class="feedback-container">


    <div class="container">
        <div class="row justify-content-center row-feedback">
            <div class="col-md-4 p-5 form-group">


                <label for="InputEmail">E-mail</label>
                <input [(ngModel)]="email" type="email" class="form-control mt-3 mb-3" placeholder="exampl@gmail.com" id="InputEmail" />
                <label for="exampleFormControlTextarea4">Про що бажаєте поговорити?</label>
                <textarea [(ngModel)]="text" class="form-control mt-3 mb-3" id="exampleFormControlTextarea4" rows="3"></textarea>
                <label for="InputPhone">Телефон</label>
                <input type="tel" [(ngModel)]="phone" class="form-control mt-3 mb-3" placeholder="Ваш номер телефону" id="InputPhone" />
                <button (click)="sendFeedback()" class="btn btn-info mt-5" align="right">НАДIСЛАТИ</button>
            </div>
        </div>
    </div>
</div>